<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.1.1.min.js"-->
            <!--integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="-->
            <!--crossorigin="anonymous"></script>-->
    <script src="application.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="script.js"></script>
    <script src="js/controllers.js"></script>
    <script src="pace.js"></script>
    <script src="//rawgit.com/angular-ui/ui-router/0.2.15/release/angular-ui-router.min.js"></script>
    <script src="lib/angular/angular-route.min.js"></script>
    <!--<script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>-->
    <script src="js/angular-modal-service.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/radioButtons.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/graph.css">
    <link rel="stylesheet" href="pace.css">
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="js/moment.js"></script>
    <script src="js/barchart.js"></script>
    <script src="https://d3js.org/d3-time-format.v2.min.js"></script>
</head>
<body ng-app="mainApp" ng-cloak>
<div ng-controller="stockController">
    <nav class="navbar navbar-default" id="bar">
        <ul class="nav navbar-nav">
            <!--
            <li class="nav-item"><a onclick="$('#details').hide(); $('#barChart').hide(); $('#list').show();">Search Stocks</a></li>
            <li class="nav-item"><a ng-click="barChart()" onclick="$('#list').hide(); $('#barChart').show();">Your Portfolio</a></li>
            -->

            <div class="search" id="search">
                <div class="input-group" id="search-group">
                    <!--<span class="input-group-addon">$</span>-->
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input type="text" id="search-input" ng-model="query" class="form-control" placeholder="Search for companies" aria-label="Search for companies" ng-focus="searchFocus();">
                    <div class="input-group-btn">
                        <button type="button" id="direction" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Direction <small><span class="glyphicon glyphicon-triangle-bottom"></span></small>
                        </button>
                        <div id="search-dropdown" class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" ng-click="ascending();" href="#">Ascending</a><br>
                            <a class="dropdown-item" ng-click="descending();" href="#">Descending</a>
                        </div>
                    </div>
                </div>
                <!--<ui id="search-order-buttons">-->
                    <!--<li class="radio-item">-->
                        <!--<a href="" id="ascending-button" class="button-stand-in checked"  ng-click="ascending(); reverseOrder();"></a><span class="radio-label">&nbsp;   ascending</span>-->
                    <!--</li>-->
                    <!--<li class="radio-item">-->
                        <!--<a href="" id="descending-button" class="button-stand-in" ng-click="descending(); reverseOrder();"></a><span class="radio-label">&nbsp;   descending</span>-->
                    <!--</li>-->
                <!--</ui>-->
            </div>

        </ul>

        <!--<div class="search" id="search">-->
            <!--<input id="search-input" ng-model="query" placeholder="Search for companies" ng-focus="searchFocus();">-->

            <!--<ui id="search-order-buttons">-->
                <!--<li class="radio-item">-->
                    <!--<a href="" id="ascending-button" class="button-stand-in checked"  ng-click="ascending(); reverseOrder();"></a><span class="radio-label">&nbsp;   ascending</span>-->
                <!--</li>-->
                <!--<li class="radio-item">-->
                    <!--<a href="" id="descending-button" class="button-stand-in" ng-click="descending(); reverseOrder();"></a><span class="radio-label">&nbsp;   descending</span>-->
                <!--</li>-->
            <!--</ui>-->
        <!--</div>-->
    </nav>


    <div id="listWrap" class="col-sm-7">
        <!--<div ng-controller="ListController">-->

            <div ng-include src="'partials/search.html'" ng-show="showSearch"></div>
            <div ng-include src="'partials/list.html'"></div>

    </div>



    <!--<a class="btn" data-toggle="modal" href="#remove-modal">Remove Modal</a><br>-->
    <!--<a class="btn" data-toggle="modal" href="#buy-modal">Buy Modal</a><br>-->
    <!--<a class="btn" data-toggle="modal" href="#sell-modal">Sell Modal</a>-->

    <div ng-include src="'partials/buy-modal.html'"></div>
    <div ng-include src="'partials/sell-modal.html'"></div>
    <div ng-include src="'partials/remove-modal.html'"></div>

        <div id="details" class="center col-sm-7">
            <div ng-include src="'partials/details.html'"></div>
        </div>




    <div id="portfolioDetails" ng-include src="'partials/barChart.html'"></div>
    <div id="right-panel" class="col-sm-3">
        <div id="fundsDiv" ng-include src="'partials/funds.html'"></div>
        <div ng-include src="'partials/portfolio.html'"></div>
    </div>



    </div>


<script src="js/graph.js"></script>
</body>
</html>
