<section class="techinfo" ng-controller="DetailsController">
    <h1>DETAILS</h1>
    <div ng-model="things">
        <h3>Name: {{thingDetails.name}}</h3>
        <h3>ID: {{thingDetails.id}}</h3>
        <h3>Description: {{thingDetails.description}}</h3>
        <a id="edit-link" ng-click="editThing(thingDetails)" data-toggle="modal" href="#edit-modal">Edit thing</a><br>
        <a id="delete-link" ng-click="deleteThing(thingDetails)">Delete thing</a>
    </div>
    <a class="hide-section" ng-click="hideDetails()">Hide details</a>
</section>

