<div id="" class="panel panel-primary" ng-controller="DetailsController">
    <div class="panel-heading">
        <h1 class="panel-title">Thing Details</h1>
    </div>
    <div class="panel-body">
        <h4 class="details-field">Name: <span ng-bind="thingDetails.name"></span></h4>
        <h4 class="details-field">ID: <span ng-bind="thingDetails.id"></span></h4>
        <h4 class="details-field">Description: <span ng-bind="thingDetails.description"></span></h4><br>
        <a class="details-link" ng-click="editThing(thingDetails)" data-toggle="modal" href="#edit-modal">Edit thing</a>
        <a class="details-link" ng-click="deleteThing(thingDetails)">Delete thing</a>
        <a class="details-link" ng-click="hideDetails()">Hide details</a>
    </div>
    </div>
</div>
