<h1>NEW THING FORM</h1>
<form id="new-thing-form">
    <div class="form-group">
        <label for="new-thing-name">Name:</label>
        <input type="text" id="new-thing-name" class="form-control" placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label for="new-thing-number">Number:</label>
        <input type="number" id="new-thing-number" class="form-control" placeholder="Enter Number">
    </div>
    <button  class="btn btn-primary" ng-click="create(); updateList()">Submit</button>
</form>

