<table class="table table-striped table-hover" id="table">
    <thead id="table-head">
    <tr>
        <th>#</th>
        <th id="table-head-name">Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in list" ng-cloak class="table-row" ng-class="set_color(item)">
        <td>
            <div class="btn-group">
                    <a class="dropdown-toggle btn btn-xs" ng-class="button_color(item)" data-toggle="dropdown" href="#" id="themes"><span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li><a href="#" ng-click="viewDetails(item);">Details</a></li>
                        <li><a data-toggle="modal" href="#edit-modal" ng-click="editThing(item)">Edit</a></li>
                        <li><a ng-click="deleteThing(thingDetails)">Delete</a></li>
                    </ul>
            {{item.id}}
            </div>

        </td>
        <td>
            <a id="{{item.name}}" class="details-link" ng-click="viewDetails(item);" ng-class="{ 'selected-class-name': $index == selectedIndex }">
            {{item.name}}
            </a>
        </td>
        <td>{{item.description}}</td>
    </tr>
    <tr ng-cloak class="table-row active" >
        <td>
            <a class="btn btn-xs btn-success" data-toggle="modal" href="#thing-modal"><strong>+</strong></a>
        </td>
        <td>
        </td>
        <td><a ng-click="deleteAll()">Delete List</a></td>
    </tr>
    </tbody>
</table>

